html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
}
body {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.75em;
    color: rgba(255,255,255,0.5);
    overflow-x: hidden !important;
    background: #222;
}
p {
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.75em;
  color: rgba(255,255,255,0.5);
  margin-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gilda Display', serif;;
  font-weight: 400;
  line-height: 1.25em;
  margin: 0 0 20px 0;
  color: #fff;
}
img {
  width: 100%;
  height: auto;
}
img {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #f4f4f4;
}
span,
a,
a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
b {
  font-weight: 400;
  color: #aa8453;
}
